body {
    margin-top: 85px !important;
}

.backToCampaignsLink {
    color: #3F5663;
}

.backToCampaignsDiv{
    margin-top: -50px;
    margin-left: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#backToCampaignsChevron{
    align-self: center;
    color: #3F5663;
    margin-left: 10px;
    margin-right: 10px;
}

.backToCampaigns{
    width: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    /* Frequently Used/Text/Secondary Text - Grey 700 */
    padding-left: 10px;
    color: #3F5663;
}

#imgCol{
    margin-right: 30px;
}

#mainContainer{
    border: 1px solid #EDEEF1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(238, 239, 242, 0.65);
    border-radius: 4px;
    padding: 20px 50px;
    width: 95%;
}

#topRow{
    padding: 20px 0;
}

#mainImage{
    width: 100%
}

#title{
    padding: inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    letter-spacing: 0.005em;
    /* Frequently Used/Text/Primary Text - Grey 900 */
    color: #0E161C;
}
#progressRow{
    padding-top: 20px;
}
#progressBar{
    width: 100%;
}

#acceptingRow {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 143.32%;
    /* identical to box height, or 20px */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #3F5663;
}

#acceptingDiv{
    margin-right: 30px;
}

.coinRewardInfo{
    font-family: sans-serif;
    font-weight: 100;
}

.mb-3.input-group{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

#donateRow{
    margin-top: 20px;
}

#donateAmount{
    display: inline-block;
    height: 44px;
    width: 100%;
    border: 1.5px solid #E5E5E5;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-radius: 4px 0 0 4px;
}

#donateButton{
    display: inline-block;
    height: 45px;
    width: 100%;
    background: #E63C36;
    border: 1.5px solid #E63C36;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius:  0 4px 4px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    /* identical to box height, or 165% */
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
}

#giftIcon{
    margin-left: 7px;
    margin-top: -6px;
}

#videoPlayer{
    margin: 0 auto 20px auto;
}



#description{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 143.32%;
    /* or 20px */   
    letter-spacing: 0.005em;  
    /* Frequently Used/Text/Secondary Text - Grey 700 */
    color: #3F5663; 
}

@media (max-width: 992px){
    #videoPlayer{
        width: inherit !important;
    }
}

@media (max-width: 767px){
    #imgCol{
        min-width: 100%;
        margin-bottom: 20px;
    }
    #videoPlayer{
        height: 300px !important;
    }
}

@media  (max-width: 530px) {
    #videoPlayer{
        height: 260px !important;
    }
}

@media (max-width: 470px){
    #donateRow{
        width: 95%;
    }
    #videoPlayer{
        height: 300px;
    }
    #videoPlayer{
        height: 200px !important ;
    }
}

@media (max-width: 470px){   
    #donateAmount{
        min-width: 70px;
    } 
    #videoRowContainer{
        padding-left: 0;
    }
}

@media (max-width: 391px){ 
    #donateRow{
        width:100%;
    } 
    .mb-3.input-group{
        display:inline-block;
    }
    #donateButton {
        margin-top: 1rem;
        border-radius: 4px;
    }
    #donateAmount{
        text-align: center;
    }
}
